html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section, summary {
    display: block;
}

html, body {
    background: #fff;
}

body {
    color: #333;
    font: 12px/16px "Open Sans", serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
}

a:link, a:visited, a:active {
    color: #6cf;
}

a:hover {
    color: #369;
    text-decoration: none;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px;
}

h1 {
    color: #333;
    font: 28px/26px "Open Sans", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2 {
    color: #4bb;
    font: 400 16px/20px "Open Sans", sans-serif;
    letter-spacing: 3px;
    margin: .5em 0;
    text-transform: uppercase;
}

h3 {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

table {
    border-collapse: collapse;
    border: 1px solid #bde;
    margin: 2em 0;
    width: 100%;
}

th, td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.timestamp {
    font-size: .9em;
    text-align: left;
}

th {
    background-color: #cef;
    border: 1px solid #bde;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
}

td {
    background-color: #aed;
    border-left: 1px solid #bfe;
    border-bottom: 1px solid #bfe;
}

td:first-child {
    border-left-color: #bde;
}

tr:last-child td {
    border-bottom-color: #bde;
}

th.timestamp,
th.total {
    background-color: #9df;
    border-color: #9ce;
}

td.timestamp,
td.total {
    background-color: #adf;
    border-color: #eff;
}
